@import './base.css';

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  form select:focus,
  form textarea:focus,
  form input:focus {
    font-size: 16px;
    background: #72e078;
  }
}
form input:focus + label {
  color: #72e078; 
}